<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端的预览设置-->
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    <title>后台管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small " style="opacity: 80%;">-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small " style="opacity: 80%;">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <a href="#" th:href="@{/}">
                <h2 class="ui inverted header blue item"  style="font-family: 'Ink Free'">Paracosm Blog</h2>
            </a>
            <a href="#" th:href="@{/}" class="m-item item m-mobile-hide"><i class="inverted home icon"></i>首页</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide"><i class="inverted info icon"></i>关于我</a>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon" ></i>
    </a>
</nav>
<br/><br/><br/><br/><br/><br/>
<div class="m-container-small m-padded-tb-massivex" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui corner label">
            <a href="https://github.com/Ges0ng" title="跳转到个人页面">
                <i class="asterisk icon"></i>
            </a>
        </div>

        <div class="ui middle aligned center aligned grid">

            <div class="column">

                <h2 class="ui teal image header">
                   <!-- <img src="../../static/favicon.ico" class="image">-->
                    <div class="content" style="color: ghostwhite; font-size: 40px; font-family: 幼圆; font-weight: unset">
                        后台登录
                    </div>
                </h2>
                <form class="ui large form" method="post" style="opacity: 85%;" action="#" th:action="@{/admin/login}">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <!--验证码-->
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="fire icon"></i>
                                <input type="text" name="verCode" placeholder="验证码">
                                &nbsp;&nbsp;&nbsp;
                                <img src="/captcha" width="130px" height="48px" />
                            </div>
                        </div>
                        <button class="ui fluid large blue submit button">登   录</button>
                        <br/>
                        您当前的ip地址为:<span th:text="${#request.getRemoteAddr()}" style="color: red"></span>
                        &nbsp;&nbsp;&nbsp;  <span th:text="${adr}" style="color: red"></span>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名或者密码错误</div>

                </form>
            </div>
        </div>
    </div>
    <div id="content" class="mw-body" role="main"></div>
</div>

<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
<script src="../../static/lib/waypoints/jquery.waypoints.js" th:src="@{/lib/waypoints/jquery.waypoints.js}"></script>

<script>

    L2Dwidget.init({
        "model": {
            "jsonPath": "https://unpkg.com/live2d-widget-model-wanko@1.0.5/assets/wanko.model.json",
            "scale": 1
        },
        "display": {
            "position": "left",
            "width": 150,
            "height": 300,
            "hOffset": 0,
            "vOffset": -20
        },
        "mobile": {
            "show": true,
            "scale": 0.5
        },
        "react": {
            "opacityDefault": 0.7,
            "opacityOnHover": 0.2
        }
    });

    $('.ui.form').form({
        fields : {
            username : {
                identifier: 'username',
                rules: [{
                    type : 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password : {
                identifier: 'password',
                rules: [{
                    type : 'empty',
                    prompt: '请输入密码'
                }]
            },
            vsCode : {
                identifier: 'verCode',
                rules: [{
                    type : 'empty',
                    prompt: '请输入验证码'
                }]
            }
        }
    });
</script>

</body>

</html>

